asgiref==3.2.7
autopep8==1.5.2
Django==3.0.12
django-crispy-forms==1.9.0
django-messages==0.6.0
django-multiselectfield==0.1.12
pep8==1.7.1
Pillow==9.0.1
pycodestyle==2.5.0
pytz==2020.1
six==1.14.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
