{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <div class="slider movie-items">
        <div class="container">
            <div class="row">
                <div class="social-link">
                    <p>Follow us: </p>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                    <a href="#"><i class="ion-social-googleplus"></i></a>
                    <a href="#"><i class="ion-social-youtube"></i></a>
                </div>
                <div class="slick-multiItemSlider">
                    {% for item in latest_list %}
                        <div class="movie-item">
                            <div class="mv-img">
                                <a href="{{ item.get_absolute_url }}">
                                    {% thumbnail item.image "274x420" padding=True as im %}
                                        <img src="{{ im.url }}" alt="" width="{{ im.width }}"
                                             height="{{ im.height }}">
                                    {% endthumbnail %}
                                </a>
                            </div>
                            <div class="title-in">
                                <div class="cate">
                                    {% if item.language == 'Subbed' %}
                                        <span class="orange"><a
                                                href="{{ item.get_absolute_url }}">{{ item.language }}</a></span>
                                    {% elif item.language == 'Dual Audio' %}
                                        <span class="blue"><a href="{{ item.get_absolute_url }}">{{ item.language }}</a></span>
                                    {% else %}
                                        <span class="green"><a
                                                href="{{ item.get_absolute_url }}">{{ item.language }}</a></span>
                                    {% endif %}
                                </div>
                                <h6><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h6>
                                <p><i class="ion-android-star"></i><span>{{ item.rating }}</span> /10</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="movie-items">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-12">
                    <div class="title-hd">
                        <h2>Ongoing Animes</h2>
                        <a href="/anime-list/all" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="tabs">
                        <ul class="tab-links">
                            <li class="active"><a href="#tab1">#Popular</a></li>
                            <li><a href="#tab2"> #Highly Rated</a></li>
                            <li><a href="#tab3"> #Top Voted </a></li>
                            <li><a href="#tab4"> #Editor's List</a></li>
                        </ul>
                        <div class="tab-content mt-md-3">
                            <div id="tab1" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        {% for item in ongoing_list|slice:":25" %}
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        {% thumbnail item.image "274x420" padding=True as im %}
                                                            <img src="{{ im.url }}" alt="" width="{{ im.width }}"
                                                                 height="{{ im.height }}">
                                                        {% endthumbnail %}
                                                    </div>
                                                    <div class="hvr-inner">
                                                        <a href="{{ item.get_absolute_url }}">Read More <i
                                                                class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                                        </h6>
                                                        <p>
                                                            <i class="ion-android-star"></i><span>{{ item.rating }}</span>
                                                            /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        {% for item in rated_list|slice:":25" %}
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        {% thumbnail item.image "274x420" padding=True as im %}
                                                            <img src="{{ im.url }}" alt="" width="{{ im.width }}"
                                                                 height="{{ im.height }}">
                                                        {% endthumbnail %}
                                                    </div>
                                                    <div class="hvr-inner">
                                                        <a href="{{ item.get_absolute_url }}">Read More <i
                                                                class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                                        </h6>
                                                        <p>
                                                            <i class="ion-android-star"></i><span>{{ item.rating }}</span>
                                                            /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="tab">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        {% for item in voted_list|slice:":25" %}
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        {% thumbnail item.image "274x420" padding=True as im %}
                                                            <img src="{{ im.url }}" alt="" width="{{ im.width }}"
                                                                 height="{{ im.height }}">
                                                        {% endthumbnail %}
                                                    </div>
                                                    <div class="hvr-inner">
                                                        <a href="{{ item.get_absolute_url }}"> Read more <i
                                                                class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                                        </h6>
                                                        <p>
                                                            <i class="ion-android-star"></i><span>{{ item.rating }}</span>
                                                            /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="tab">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        {% for item in editor_list|slice:"0:25" %}
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        {% thumbnail item.image "274x420" padding=True as im %}
                                                            <img src="{{ im.url }}" alt="" width="{{ im.width }}"
                                                                 height="{{ im.height }}">
                                                        {% endthumbnail %}
                                                    </div>
                                                    <div class="hvr-inner">
                                                        <a href="{{ item.get_absolute_url }}"> Read more <i
                                                                class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                                        </h6>
                                                        <p><i class="ion-android-star"></i><span>{{ item.rating }}</span> /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-hd">
                        <h2>on tv</h2>
                        <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="tabs">
                        <ul class="tab-links-2">
                            <li><a href="#tab21">#Popular</a></li>
                            <li class="active"><a href="#tab22"> #Coming soon</a></li>
                            <li><a href="#tab23"> #Top rated </a></li>
                            <li><a href="#tab24"> #Most reviewed</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab21" class="tab">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="images/uploads/mv-item1.jpg" alt="" width="185"
                                                         height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a href="moviesingle.html"> Read more <i
                                                            class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#">Interstellar</a></h6>
                                                    <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab22" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="images/uploads/mv-item5.jpg" alt="" width="185"
                                                         height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a href="moviesingle.html"> Read more <i
                                                            class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#">Interstellar</a></h6>
                                                    <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab23" class="tab">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="images/uploads/mv-item1.jpg" alt="" width="185"
                                                         height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a href="moviesingle.html"> Read more <i
                                                            class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#">Interstellar</a></h6>
                                                    <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab24" class="tab">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="images/uploads/mv-item5.jpg" alt="" width="185"
                                                         height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a href="moviesingle.html"> Read more <i
                                                            class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#">Interstellar</a></h6>
                                                    <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#                <div class="col-md-4">#}
                {#                    <div class="sidebar">#}
                {#                        <div class="ads">#}
                {#                            <img src="images/uploads/ads1.png" alt="" width="336" height="296">#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>

    <div class="trailers">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-12">
                    <div class="title-hd">
                        <h2>in theater</h2>
                        <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="videos">
                        <div class="slider-for-2 video-ft">
                            <div>
                                <iframe class="item-video" src="#"
                                        data-src="https://www.youtube.com/embed/1Q8fG0TtVAY"></iframe>
                            </div>
                            <div>
                                <iframe class="item-video" src="#"
                                        data-src="https://www.youtube.com/embed/w0qQkSuWOS8"></iframe>
                            </div>
                            <div>
                                <iframe class="item-video" src="#"
                                        data-src="https://www.youtube.com/embed/44LdLqgOpjo"></iframe>
                            </div>
                            <div>
                                <iframe class="item-video" src="#"
                                        data-src="https://www.youtube.com/embed/gbug3zTm3Ws"></iframe>
                            </div>
                            <div>
                                <iframe class="item-video" src="#"
                                        data-src="https://www.youtube.com/embed/e3Nl_TCQXuw"></iframe>
                            </div>
                            <div>
                                <iframe class="item-video" src="#"
                                        data-src="https://www.youtube.com/embed/NxhEZG0k9_w"></iframe>
                            </div>


                        </div>
                        <div class="slider-nav-2 thumb-ft">
                            <div class="item">
                                <div class="trailer-img">
                                    <img src="images/uploads/trailer7.jpg" alt="photo by Barn Images" width="4096"
                                         height="2737">
                                </div>
                                <div class="trailer-infor">
                                    <h4 class="desc">Wonder Woman</h4>
                                    <p>2:30</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trailer-img">
                                    <img src="images/uploads/trailer2.jpg" alt="photo by Barn Images" width="350"
                                         height="200">
                                </div>
                                <div class="trailer-infor">
                                    <h4 class="desc">Oblivion: Official Teaser Trailer</h4>
                                    <p>2:37</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trailer-img">
                                    <img src="images/uploads/trailer6.jpg" alt="photo by Joshua Earle">
                                </div>
                                <div class="trailer-infor">
                                    <h4 class="desc">Exclusive Interview: Skull Island</h4>
                                    <p>2:44</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trailer-img">
                                    <img src="images/uploads/trailer3.png" alt="photo by Alexander Dimitrov" width="100"
                                         height="56">
                                </div>
                                <div class="trailer-infor">
                                    <h4 class="desc">Logan: Director James Mangold Interview</h4>
                                    <p>2:43</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trailer-img">
                                    <img src="images/uploads/trailer4.png" alt="photo by Wojciech Szaturski" width="100"
                                         height="56">
                                </div>
                                <div class="trailer-infor">
                                    <h4 class="desc">Beauty and the Beast: Official Teaser Trailer 2</h4>
                                    <p>2: 32</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="trailer-img">
                                    <img src="images/uploads/trailer5.jpg" alt="photo by Wojciech Szaturski" width="360"
                                         height="189">
                                </div>
                                <div class="trailer-infor">
                                    <h4 class="desc">Fast&Furious 8</h4>
                                    <p>3:11</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}