{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <div class="slider movie-items">
        <div class="container">
        </div>
    </div>
    <div class="movie-items">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-12">
                    <div class="title-hd">
                        <h2>Request Anime/Movies</h2>
                    </div>
                    <div class="form-style-1 user-pro" action="#">
                        <form action="#" class="user">
                            <h4>Fill up the below details</h4>
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label>Username</label>
                                    <input type="text" placeholder="edwardkennedy">
                                </div>
                                <div class="col-md-6 form-it">
                                    <label>Email Address</label>
                                    <input type="text" placeholder="edward@kennedy.com">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label>First Name</label>
                                    <input type="text" placeholder="Edward ">
                                </div>
                                <div class="col-md-6 form-it">
                                    <label>Last Name</label>
                                    <input type="text" placeholder="Kennedy">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-it">
                                    <label>Country</label>
                                    <select>
                                        <option value="united">United States</option>
                                        <option value="saab">Others</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-it">
                                    <label>State</label>
                                    <select>
                                        <option value="united">New York</option>
                                        <option value="saab">Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <input class="submit" type="submit" value="save">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {#                <div class="col-md-4">#}
                {#                    <div class="sidebar">#}
                {#                        <div class="ads">#}
                {#                            <img src="images/uploads/ads1.png" alt="" width="336" height="296">#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>

{% endblock content %}